/* CSS styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../../docs/img/big_bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.Xiangqi {
  font-size: 60px;
  color: #333;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button button {
  padding: 16px 32px;
  font-size: 24px;
  cursor: pointer;
  width: 280px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
}

.button button:hover {
  background-color: #45a049;
}



.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #00FF00;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s forwards;
}
.minButton{
  padding: 4px 8px;
  background-color: #4caf50;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
}
.exitButton{
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 10px;
  border: 1px solid #45a049;
  outline: none;
  cursor: pointer;
}


#popupRoomIdInput {
  padding: 4px 8px;
}

.difficultyButton {
  margin: 10px;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 6px;
}

.difficultyButton:hover {
  background-color: #45a049;
}
.easyButton {
  border: 2px solid #0056b3;
}
.mediumButton {
  border: 2px solid #b4ec18;
}
.hardButton {
  border: 2px solid #ff0000;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
  }
  to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
  }
}